In [133]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import time

In [131]:
# Q4


Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1.Brand

2.Product Description

3.Price

4.Discount % 

The attributes which you have to scrape is ticked marked in the below image. To scrape the data you have to go through following steps:
Go to flipkart webpage by url https://www.flipkart.com/

Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.

after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it .

Now scrape data from this page as usual

repeat this until you get data for 100 sunglasses. Note that all of the above steps have to be done by coding only and not manually.

In [122]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(4)

In [123]:
url4='https://www.flipkart.com/'
driver.get(url4)
time.sleep(2)

In [124]:
#locating the search bar:-
search4=driver.find_element_by_xpath("//input[@class='_3704LK']")

In [125]:
#locating the button and clicking it to search for sunglasses:-
search4.send_keys('sunglasses')
time.sleep(2)

In [126]:
click4=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [127]:
click4.click()

In [129]:
for k in range(2):
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    time.sleep(2)
    productdesc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    Brand=[]
    Product_desc=[]
    Price=[]
    Discount=[]
    for i in brand:
        Brand.append(i.text.replace('\n',''))
    for i in productdesc:
        Product_desc.append(i.text.replace('\n',''))
    for i in price:
        Price.append(i.text.replace('\n',''))
    for i in discount:
        try:
            Discount.append(i.text.replace('\n',''))
        except:
            Discount.append('-')
#     next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
#     next.click()
match4=pd.DataFrame({})
match4['Brand']=Brand
match4['Product Description']=Product_desc
match4['Price']=Price
match4['Discount %']=Discount
match4

,Brand,Product Description,Price,Discount %
0,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹181,81% off
1,Elligator,UV Protection Round Sunglasses (53),₹189,81% off
2,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹379,74% off
3,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹630,78% off
4,kingsunglasses,"Mirrored, UV Protection Wayfarer, Rectangular ...",₹258,87% off
5,SRPM,"Others Wayfarer, Retro Square Sunglasses (50)",₹178,82% off
6,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹679,24% off
7,ROZZETTA CRAFT,"UV Protection, UV Protection Retro Square Sung...",₹231,87% off
8,IDEE,UV Protection Rectangular Sunglasses (59),"₹1,009",58% off
9,Elligator,UV Protection Wayfarer Sunglasses (53),₹176,88% off
10,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
11,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹699,65% off
12,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹269,83% off
13,GANSTA,UV Protection Aviator Sunglasses (57),₹284,85% off
14,NuVew,UV Protection Sports Sunglasses (62),₹327,73% off
15,ROYAL SON,UV Protection Rectangular Sunglasses (Free Size),₹474,68% off
16,Rich Club,Polarized Round Sunglasses (48),₹175,64% off
17,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹328,83% off
18,New Specs,UV Protection Aviator Sunglasses (Free Size),₹183,88% off
19,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (57)",₹759,62% off
20,PIRASO,UV Protection Butterfly Sunglasses (65),₹314,87% off
21,PIRASO,UV Protection Aviator Sunglasses (58),₹269,89% off
22,Silver Kartz,UV Protection Aviator Sunglasses (88),₹255,78% off
23,ROYAL SON,"UV Protection, Gradient Butterfly, Over-sized ...",₹664,66% off
24,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹289,81% off
25,PIRASO,Mirrored Aviator Sunglasses (32),₹179,88% off
26,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
27,Ray-Ban,UV Protection Wayfarer Sunglasses (56),"₹5,029",10% off
28,DEIXELS,UV Protection Wayfarer Sunglasses (Free Size),₹229,54% off
29,Singco India,"Mirrored, Riding Glasses, Others Sports Sungla...",₹233,84% off
30,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹230,82% off
31,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹854,57% off
32,IDEE,UV Protection Over-sized Sunglasses (57),₹999,59% off
33,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹199,80% off
34,PIRASO,UV Protection Butterfly Sunglasses (60),₹314,87% off
35,ROYAL SON,"Polarized, UV Protection Round Sunglasses (52)",₹759,62% off
36,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹474,68% off
37,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹317,84% off
38,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹180,83% off
39,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349,82% off

# Q5

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

When you will open the above link you will reach to the below shown webpage 

As shown in the above page you have to scrape the tick marked attributes.These are:

    1. Rating

    2. Review summary

    3. Full review

    4. You have to scrape this data for first 100 reviews

In [25]:
driver=webdriver.Chrome("chromedriver.exe")

In [26]:
url5='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.'

In [27]:
driver.get(url5)

In [30]:
rating=driver.find_element_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [31]:
rating.click()

In [32]:
full_review=driver.find_element_by_xpath("//div[@class='t-ZTKy']")

In [33]:
full_review.click()

In [34]:
review=driver.find_element_by_xpath("//p[@class='_2-N8zT']")

In [35]:
review.click()

In [36]:
for k in range(10):
    rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    ratings=[]
    Review=[]
    Full_review=[]
    for i in rating:
        ratings.append(i.text)
    for i in review:
        Review.append(i.text)
    for i in full_review:
        Full_review.append(i.text)

#     next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
#     next.click()

match8=pd.DataFrame({})
match8['Rating']=ratings
match8['Review summary']=Review
match8['Full review']=Full_review
match8

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,4,Good choice,So far it’s been an AMAZING experience coming ...
8,5,Highly recommended,What a camera .....just awesome ..you can feel...
9,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

# Q6

Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:

    1. Brand

    2. Product Description

    3. Price

    As shown in the below image, you have to scrape the tick marked attributes

In [59]:
driver=webdriver.Chrome('chromedriver.exe')

In [60]:
url6='http://www.flipkart.com/'
driver.get(url6)

In [61]:
search6=driver.find_element_by_xpath("//input[@class='_3704LK']")

In [62]:
search6.send_keys('sneakers')

In [63]:
search6=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search6.click()

In [64]:
time.sleep(2)

In [66]:
brand6=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Product_desc=[]
other=[]
try:
    productdesc6=driver.find_elements_by_xpath("//div[@class='_2B099V']/a")
    for i in range(len(productdesc6)):
        if i%2==0:
            Product_desc.append(productdesc6[i].text)
        else:
            other.append(productdesc6[i].text)
except:
    Product_desc.append('-')
price6=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
discount6=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Brand6=[]
Price6=[]
Discount6=[]
for i in brand6:
    Brand6.append(i.text.replace('\n',''))
for i in price6:
    Price6.append(i.text.replace('\n',''))
for i in discount6:
    Discount6.append(i.text.replace('\n',''))
match6=pd.DataFrame({})
match6['Brand']=Brand6
match6['Product Description']=Product_desc
match6['Price']=Price6
match6['Discount %']=Discount6
match6

,Brand,Product Description,Price,Discount %
0,RapidBox,Stylish & Trendy Sneakers For Men,₹580,41% off
1,Zordic Shoes,Casual shoes for boys | sports shoes for men |...,₹347,61% off
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹501,68% off
3,Magnolia,Sneakers For Men,₹327,67% off
4,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹149,70% off
5,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹209,83% off
6,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹399,69% off
7,Roadster,Men Blue Solid Sneakers Sneakers For Men,"₹1,249",55% off
8,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹349,82% off
9,CAMPUS,EXPLORE Sneakers For Men,₹999,47% off
10,Kraasa,Series 7 Sneakers For Men,₹394,60% off
11,Jimnastic shoes,Casual for men Sneakers For Men,₹347,76% off
12,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹249,62% off
13,URBANBOX,Sneakers Sneakers For Men,₹148,85% off
14,Magnolia,Sneakers For Men,₹349,65% off
15,HRX by Hrithik Roshan,Men White Printed Sneakers Sneakers For Men,"₹2,049",46% off
16,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹248,75% off
17,DUNKASTON,Sneakers For Men,₹269,82% off
18,aadi,Sneakers For Men,₹269,73% off
19,AMICO,Sneakers For Men,₹474,52% off
20,World Wear Footwear,Sneakers For Men,₹190,61% off
21,CLYMB,Sneakers For Men,₹534,64% off
22,Elevarse,Sneakers For Men,₹349,65% off
23,RapidBox,Sneakers For Men,₹630,36% off
24,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹449,87% off
25,Kraasa,Shark-41 Sneakers For Men,₹394,60% off
26,SCATCHITE,Sneakers For Men,₹348,65% off
27,Echor,Echor Men's Sneakers Fashion Lightweight Runni...,₹433,71% off
28,Labbin,Sneakers For Men,₹424,57% off
29,Rzisbo,Sneakers For Men,₹499,50% off
30,Kzaara,Sneakers For Men,₹209,79% off
31,sixXplus,Casual Sneakers black Shoes For Men Sneakers F...,₹399,60% off
32,luxury fashion,Fashionable sneaker shoes Sneakers For Men,₹449,77% off
33,India hub,Luxury Fashionable casual sneaker shoes Sneake...,₹349,82% off
34,Xtoon,"white Casual shoes,Sneakers for men's Sneakers...",₹429,71% off
35,Elevarse,Stylish Comfortable shoes Sneakers For Men,₹349,65% off
36,BRUTON,Sneaker Sneakers For Men,₹249,80% off
37,Stefano Rads,Classy Sneakers For Men,₹190,72% off
38,India hub,casual sneaker shoes for men kardam&sons Sneak...,₹399,69% off
39,Roadster,Men White Solid Sneakers Sneakers For Men,"₹1,634",50% off

# Q7

Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [69]:
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(4)

url = "https://www.myntra.com/shoes%22"
driver.get(url)

time.sleep(2)

#clicking on price filter:-

price_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_button.click()

#clicking on black color filter:-

black_color_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
black_color_button.click()



#creating empty lists:-

shoe_names=[]        
s_desc=[]
short_desc=[]
price=[]
page_urls = []

time.sleep(4)

# scrape next pages urls:-

nxt_page = driver.find_elements_by_xpath("//li[@class='pagination-number']/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))
    

for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")  #for scrapping shoe brand names
    for i in Names:
        shoe_names.append(i.text)
    
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4") #for scrapping shoe short-description
    for i in desc:
        s_desc.append(i.text)
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    rs=driver.find_elements_by_xpath("//div[@class='product-price']")  #for scrapping shoe prices
    for i in rs:
        price.append(i.text)    
        
Shoes=pd.DataFrame({'Brand': shoe_names[:100],'Short-description': short_desc[:100],'Price': price[:100]})
Shoes

,Brand,Short-description,Price
0,HRX by Hrithik Roshan,Women Alpha Running Shoes,Rs. 1469Rs. 4199(65% OFF)
1,Puma,Men Sneakers,Rs. 2149Rs. 4299(50% OFF)
2,WROGN,Men Solid Running Shoes,Rs. 2819Rs. 4699(40% OFF)
3,Street Style Store,Women Suede High-Top Flat Boots,Rs. 999Rs. 1999(Rs. 1000 OFF)
4,Puma,Men Magnify Nitro Running,Rs. 6499Rs. 12999(50% OFF)
...,...,...,...
95,Puma,Men Slip-On Sneakers,Rs. 2599Rs. 3999(35% OFF)
96,HRX by Hrithik Roshan,Men Running Shoes,Rs. 1999Rs. 4999(60% OFF)
97,H&M,Men Ultra Groove Templar,Rs. 1274Rs. 1499(15% OFF)
98,one8 x PUMA,Women Heeled Boots,Rs. 2249Rs. 4499(50% OFF)
99,HRX by Hrithik Roshan,Contempt Demi Running Shoes,Rs. 2239Rs. 5599(60% OFF)

# Q8

Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

    1. Title

    2. Ratings

    3. Price
As shown in the below image as the tick marked attributes

In [139]:
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(4)

In [140]:
url ='https://www.amazon.in/'
driver.get(url)

In [141]:
# finding element for job search bar
search_job = driver.find_element_by_id('twotabsearchtextbox')
# job search bar

In [142]:
search_job.send_keys("laptop")

In [143]:
search_btn = driver.find_element_by_xpath("//span[@class='nav-search-submit-text nav-sprite nav-progressive-attribute']")
search_btn.click()

In [146]:
#specifing the url of the webpage to be scraped
url="https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1636161846&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_27"

In [147]:
# lets open the webpage through our web driver
driver.get(url)

Now we will see in the window opened by webdriver whether the webpage has opened or not. lets check it

So,Now lets first create 10 empty lists. In these lists the data will be stored while scraping.We have created 10 empty lists for 3 features which we have to exract

1.title nams 2.Ratings 3.Price

In [148]:
title_names=[]
Ratings=[]
Price=[]

First, we will extract all the tags where we have the title name.Let me first show you on the webpage in which tags the title name are put.

In [149]:
# so Lets extract all the tags having the title-tags
title_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="da75e843-88ad-4236-a495-ad72e59e1e4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="e81b5f84-4af6-4ef9-a05a-86abe3e66ca8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="f411e0c1-f20d-45d1-aa90-7891b8cf65d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="444fd227-080f-434f-a916-82c4eab056ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="e13aa9f3-f430-4096-9311-dfd1a0db4605")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="666c5c2f-2d78-4135-b8c0-7551acc5fb22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="ddd04291-636f-483b-836e-9dbb67ccd219")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="2582c121-eb19-44de-9f16-9931acbb17db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="d4625ad6-1edc-4b42-a0d3-8ebc88961788")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="e8a6a01d-60ca-462d-8244-18064018efc9")>]

Now we have all the tags in which there are the title names.

Now we will extract the text from these tags one by one by looping over these tags

In [150]:
# Now the text of the title_name is inside the tags extracted above.
# so we will run a loop to iterate over the tags extracted above and extract the tags

for i in title_tags:
    title=i.text
    title_names.append(title)
title_names[0:10]

['LG Gram 16 Ultra-Light Intel Evo 11th Gen Core i7 16 inches Laptop (16 GB RAM, 512 GB SSD, Windows 10 Home, Iris Xe Graphics, Thunderbolt 4, USC -C x 2 (with Power), 1.19 kg, 16Z90P, Black)',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office/Backlit KB/Fingerprint Sensor/1.7Kg)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'LG Gram 16 inches Intel Evo 11th Gen Core i7 Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 16Z90P-G.AH85A2, Black)',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14" (35.56cm)QHD IPS Thin & Light Laptop(16GB/512GB SSD/Iris Xe Graphics/3Yr Warranty/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Convertible Laptop(16GB/512GB SSD/Windows 11/Office 2021/Lenovo Digital Pen/Slate Grey/Aluminium Surface/1.43Kg),82BH00HWIN',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14" FHD 2-in-1 Convertible Laptop (16 GB/512GB SDD/Windows 11/MS Office 2021/Backlit Keyboard /Graphite Grey/1.5Kg), 82HS018XIN']

Now we will extract all the html tags where we have the Rating_tags data. Let me first show you in which tags this data is put on the webpage.

In [151]:
# so Lets extract all the tags having the Rating
Rating_tags=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
Rating_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="81f5cb5d-4872-4caf-9919-51060805668a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="533df8bc-4a11-4ca2-8b7a-f2e8ed82010d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="113a55c9-f35b-49d0-9635-f9530eee675c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="6ec323ee-f540-4fc4-9604-51fb3502028a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="8f7a9232-7f8b-4f38-bf60-59a1ec2d41ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="36abb09b-c4d4-4edb-9e72-00bffce94cc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="2ee053a8-8d51-46f5-9ce8-61c4c8baaa46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="3dc67767-b5bd-4cb8-b2d0-0440f0b626fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="f4402259-d35f-4d11-8247-e7432bc9dca2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="45a3cfd8-e7b9-455a-96e9-ac79d9447564")>]

Now we have all the tags in there is the experience requried data.Now we will extract the text from these tags one by one by looping over these tags

In [152]:
for i in Rating_tags:
    Rating=i.text
    Ratings.append(i.text)
Ratings[0:10]

['', '', '', '', '', '', '', '', '', '']

Now we will extract all the tags having the price requried data.Let me first show you in which tags this data is put on the webpage.

In [153]:
# so Lets extract all the tags having the price requried data
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="d879d5b2-7e56-4fe4-912f-9f40acb47746")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="ad6fe09f-250f-4ada-a794-0f573401baf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="9fb4d4f3-547c-4239-862d-bdf0fb04bd68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="473845f9-cadb-4bdf-afe4-aa1046af5b28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="a5081c62-8549-4b34-b330-9f5d39070b8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="9cde4d18-ec97-44df-b961-e920eeb04e2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="0dac3bc0-edc2-422b-9190-5ffd29658fdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="7127a74a-7649-4eb0-8ed9-09c94e56793b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="af4cfc6e-f8cd-4b0f-9d62-65e77360d594")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7f05df4398fc277749beac93507ee45a", element="e907fd00-4090-4044-9916-cccedc57e55a")>]

Now we have all the tags in there is the price requried data.Now we will extract the text from these tags one by one by looping over these tags

In [154]:
for i in price_tags:
    #price=i.text
    Price.append(i.text)
Price[0:10]

['86,999',
 '96,999',
 '77,499',
 '57,490',
 '89,999',
 '89,990',
 '80,900',
 '96,999',
 '95,990',
 '85,990']

So,now we have extracted the data requried from the webpage and stored them in the 3 lists mentioned above.Now before creating a dataframe from these lists.Lets first check the length of each of th list. Because if the length of all of the lists are not equal, then a dataframe cannot be formed.

In [155]:
print(len(title_names),len(Ratings),len(Price))     #length of all all 3 list is not equal

30 29 30

In [156]:
#import pandas as pd
products=pd.DataFrame({})
products['title_names']=title_names[0:10]
products['Ratings']=Ratings[0:10]
products['Price']=Price[0:10]

In [157]:
products

                                         title_names Ratings   Price
0  LG Gram 16 Ultra-Light Intel Evo 11th Gen Core...          86,999
1  LG Gram Intel Evo 11th Gen Core i7 17 inches U...          96,999
2  Mi Notebook Ultra 3.2K Resolution Display Inte...          77,499
3  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...          57,490
4  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...          89,999
5  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...          89,990
6  Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...          80,900
7  LG Gram Intel Evo 11th Gen Core i7 17 inches U...          96,999
8  Lenovo Yoga 7 11th Gen Intel Core i7 14"(35.56...          95,990
9  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...          85,990